Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@bhaydon 
bhaydon
/
scaffold
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
scaffold/.github/workflows/main.yml
@bhaydon
bhaydon Update main.yml
Latest commit 746c3e3 now
 History
 1 contributor
28 lines (26 sloc)  687 Bytes
   
# This is a basic workflow to help you get started with Actions
# (Bruce Haydon - New York)

name: Python application test with GitHub Actions
# following command means it is executed on every push (Continuous Integration)

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
       python-version: 3.8
    - name: Install dependencies
      run: |
        make install
    - name: Lint with Pylint
      run: |
        make lint
    - name: Test with Pytest
      run: |
        make test
    - name: Format Code with Python black
      run: |
        make format
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

